
# URL do postgres
DATABASE_URL="postgresql://{USER}:{PASSWORD}@{localhost:{PORT}}/payment"

# Configurações Mercado Pago
MP_ACCESS_TOKEN="{TOKEN DE ACESSO GERADO PELO MERCADO PAGO}"
MP_WEBHOOK_URL="{URL GERADA PELO NGROK PARA RESPOSTA DO CALLBACK}"
MP_WEBHOOK_SECRET= "{SECRET KEY GERADA PELO MERCADO PAGO PARA VALIDAÇÃO DO WEBHOOK}"